In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import 
import matplotlib.pyplot as plt
from datetime import datetime
import seaborn as sns

In [17]:
Train_data = pd.read_csv('train.csv')
Test_data = pd.read_csv('test.csv')
train_data = Train_data.copy()
test_data = Test_data.copy()

In [18]:
def preproc(df):
    df['date'] = pd.to_datetime(train_data['date'])
    df['year'] = df['date'].dt.year
    df['month'] = df['date'].dt.month
    df['day'] = df['date'].dt.day
    df['dow'] = df['date'].dt.dayofweek
    df = pd.get_dummies(df,columns=['country','product','store'])
    return df
train_data = preproc(train_data)
test_data = preproc(test_data)

In [5]:
data = train_data.drop(columns = ['num_sold','row_id','date'])
target = train_data['num_sold']

from sklearn.preprocessing import StandardScaler
Normalize = StandardScaler()
data = Normalize.fit_transform(data)
target = np.log(target)

In [6]:
train_data.head(10)

,row_id,date,num_sold,year,month,day,dow,country_Finland,country_Norway,country_Sweden,product_Kaggle Hat,product_Kaggle Mug,product_Kaggle Sticker,store_KaggleMart,store_KaggleRama
0,0,2015-01-01,329,2015,1,1,3,1,0,0,0,1,0,1,0
1,1,2015-01-01,520,2015,1,1,3,1,0,0,1,0,0,1,0
2,2,2015-01-01,146,2015,1,1,3,1,0,0,0,0,1,1,0
3,3,2015-01-01,572,2015,1,1,3,1,0,0,0,1,0,0,1
4,4,2015-01-01,911,2015,1,1,3,1,0,0,1,0,0,0,1
5,5,2015-01-01,283,2015,1,1,3,1,0,0,0,0,1,0,1
6,6,2015-01-01,526,2015,1,1,3,0,1,0,0,1,0,1,0
7,7,2015-01-01,906,2015,1,1,3,0,1,0,1,0,0,1,0
8,8,2015-01-01,250,2015,1,1,3,0,1,0,0,0,1,1,0
9,9,2015-01-01,1005,2015,1,1,3,0,1,0,0,1,0,0,1

In [11]:
import pycaret.regression
amldf = train_data.drop(columns = ['row_id','date'])

In [12]:
exp_reg = pycaret.regression.setup(amldf, target = 'num_sold')

In [14]:
pycaret.regression.compare_models()

In [21]:
cbm =  pycaret.regression.create_model('catboost')

In [27]:
prdecit_model = pycaret.regression.predict_model(cbm, data = test_data.drop(columns = ['row_id','date']))
#test_data.head()

In [42]:
prdecit_model.join(test_data['row_id'])

,year,month,day,dow,country_Finland,country_Norway,country_Sweden,product_Kaggle Hat,product_Kaggle Mug,product_Kaggle Sticker,store_KaggleMart,store_KaggleRama,Label,row_id
0,2015,1,1,3,1,0,0,0,1,0,1,0,363.793170,26298
1,2015,1,1,3,1,0,0,1,0,0,1,0,538.356291,26299
2,2015,1,1,3,1,0,0,0,0,1,1,0,135.468215,26300
3,2015,1,1,3,1,0,0,0,1,0,0,1,628.722116,26301
4,2015,1,1,3,1,0,0,1,0,0,0,1,926.031054,26302
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6565,2015,12,31,3,0,0,1,1,0,0,1,0,754.597360,32863
6566,2015,12,31,3,0,0,1,0,0,1,1,0,206.598530,32864
6567,2015,12,31,3,0,0,1,0,1,0,0,1,837.504235,32865
6568,2015,12,31,3,0,0,1,1,0,0,0,1,1308.893451,32866
6569,2015,12,31,3,0,0,1,0,0,1,0,1,372.100425,32867

In [44]:
submission = pd.read_csv('sample_submission.csv')
submission['num_sold'] = prdecit_model['Label']
submission.to_csv('submission.csv', index=False)